<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>
        {% block __title__ %}
            Sherpany challenge 17 - Riccardo Schiavoni v. {{ settings.VERSION }}
        {%  endblock %}
    </title>


    {% if settings.DEBUG == True %}
        {# use local copies of libraries for development #}
        <script src="{{ STATIC_URL  }}libraries/jquery.min.js"></script>
    {% else %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endif %}

    <script src="{{ STATIC_URL }}js/Sherpany/GeoMap.js"></script>
    <script src="{{ STATIC_URL }}js/Sherpany/LocationList.js"></script>


    <script src="https://maps.googleapis.com/maps/api/js?key={{ settings.GOOGLE_MAPS__API_KEY }}"></script>


    {% csrf_token %}
    <script type="text/javascript">
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>


    {% block __head__ %}
    {% endblock %}

</head>


<body>
    {% block __body__ %}
    {%  endblock %}
</body>


</html>
