{% extends "__base__.html" %}
{% load i18n %}


{% block title %}
    Test: Event Bubbling
{% endblock %}


{% block __head__ %}

    <style>

        html, body {
            height: 95%;
            width: 99%;
        }

        #map {
            height: 60%;
            width: 100%;
        }

        #locations {
            height: 40%;
            width: 100%;
            overflow: auto;
        }

        #clear, #clear button {
            width: 100%;
        }

    </style>

{% endblock %}


{% block __body__ %}

    <div id="map"></div>
    <div id="locations"></div>
    <div id="clear"> <button> "clear map" </button> </div>


    <script>

        $(document).ready(() => {
            let geoMap = new GeoMap($("#map"));
            let locationList = new LocationList($("#locations"));

            let onClickHandler = (map, location) => {
                /*
                * Make ajax call to add_location. If location did not exist
                * and has been added successfully, add marker to map
                * */
                location.getPromiseOfAddressAsString().then(
                    () => {
                        $.post(
                            "ajax/add_location",
                            {"location": JSON.stringify(location.toSerializableObject())},
                            (response) => {
                                if (response.status === "ok") {
                                    console.log("success! -> " + response.created);

                                    if (response.created === true) {
                                        geoMap.addMarker(location);
                                        locationList.addLocation(location);
                                    }
                                }
                                else {
                                    console.error("Could not store location :(");
                                }
                            },
                        );
                    },

                    () => {
                        console.log("Invalid address");
                    }
                );
            };
            geoMap.addOnClickHandler(onClickHandler);

            let onClearHandler = () => {
                $.post(
                    "ajax/clear_all_locations",
                    {},
                    (response) => {
                        if (response.status === "ok") {
                            console.log("cleared!");
                            geoMap.clearAllMarkers();
                            locationList.clear();
                        }
                        else {
                            console.error("Could not clear locations :(")
                        }
                    },
                );
            };
            $("#clear").click(onClearHandler);

        });
    </script>


{% endblock %}
